/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
h1, h2{
  text-align: center;
}
img{
  display: block;
  height: 300px;
  margin: 0 auto;
}
ul{
  height: 106px;
  width: 600px;
  border: 3px solid black;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
li{
  width: 100px;
  height: 100px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#purple{
  background: rgba(241,63,247,1);
}
#green{
  background: rgba(0,253,81,1);
}
#blue{
  background: rgba(0,254,255);
}

#yellow{
  background: rgb(228, 228, 40);
}

#red{
  background-color: rgb(216, 17, 17);
}

#orange{
  background-color: rgba(233, 122, 32, 0.959);
}